body {
  display: flex;
  flex-direction: row;
}

.regularFloor {
  fill: lightgray;
}

.chipOurHero {
  fill: brown;
}

.winPortal {
  fill: blue;
}

.chipSocket {
  fill: gold;
}

.hint {
  fill: yellow;
}

.redDoors {
  fill: red;
}

.redKeys {
  fill: red;
}

.blueDoors {
  fill: cyan;
}

.blueKeys {
  fill: cyan;
}

.greenDoors {
  fill: lime;
}

.greenKeys {
  fill: lime;
}

.yellowDoors {
  fill: yellow;
}

.yellowKeys {
  fill: yellow;
}

.computerChips {
  fill: darkgray;
}

.walls {
  fill: gray;
}
