body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../images/background.png');
  background-color: #176f18;
}

.game-map-container {
  display: flex;
  justify-content: center;
  background-image: url('../images/board_bkg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.game-map {
  padding: 10px;
}

.info-pane {
  background-image: url('../images/info_bkg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
}

.info-pane-text {
  text-transform: uppercase;
  font-family: sans-serif;
  fill: #d01051;
  font-weight: bold;
  font-size: 25px;
}

.info-pane-values {
  text-transform: uppercase;
  font-family: monospace;
  fill: #2bdb2d;
  font-weight: bold;
  font-size: 30px;
}

.regularFloor,
.info-pane {
  fill: lightgray;
}

.chipOurHero {
  fill: brown;
}

.winPortal {
  fill: blue;
}

.chipSocket {
  fill: gold;
}

.hint {
  fill: yellow;
}

.redDoors {
  fill: red;
}

.redKeys {
  fill: red;
}

.blueDoors {
  fill: cyan;
}

.blueKeys {
  fill: cyan;
}

.greenDoors {
  fill: lime;
}

.greenKeys {
  fill: lime;
}

.yellowDoors {
  fill: yellow;
}

.yellowKeys {
  fill: yellow;
}

.computerChips {
  fill: darkgray;
}

.walls {
  fill: gray;
}
